html{
    margin: 10px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root{
    background-color: #2e5266;
    font-family: 'Quicksand', sans-serif;
    color: #cee5f2;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
        "header menu menu" 
        "div main main"
        "footer footer aside";
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 15% 75% 10%;
    grid-gap: 15px;   
}

.header-elements{
    grid-area: header;
    grid-column: 1;
    grid-row: 1;
    padding: 3%;
    border: 0;
}

h1{
    display: inline;
    text-align: left;
    font-size: medium;
    color: #CCCCFF;
    padding: 15%;
    border: 25%;
}

.menu-elements{
    grid-area: menu;
    grid-column: 2 3;
    grid-row: 1;
} 

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 15%;
}

li{
    float: right;
}

li a{
    display: inline;
    color: #CCCCFF;
    font-size: medium;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.photo-elements{
    grid-area: div;
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 5px;
}

.div-img{
    width: 100%;
    height: 100%;
    object-fit:contain;    
}

.main-elements{
    grid-area: main;
    grid-column: 2 / 3;
    grid-row: 2;
    font-size: 3.5vh;
    text-align: justify;
    justify-content: center;
    object-fit: cover;
    color: #ccc0ef;
}

.footer-elements{
    grid-area: footer;
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 0;
    position: fixed;
    bottom: 50px;
    top: auto;
    left: 50px;
    right: 50px;
    height: 1px;
}

.contact{
    display: none;
    text-align: left;
    grid-area: footer;
    grid-column: 1 / 2;
    grid-row: 3;
    text-align: left;
    font-size: smaller;
    color: #ffd5e3;
    
}


img{
    display: inline;
    height: 20px;
    width: 25px;
}
